.techs i {
    font-size: 5.3rem;
}
.techs {
    width: 75%;
    display: flex;
    margin: 3rem auto;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    

}

.techs-title {
    color: var(--titles);
    font-weight:bolder;
    font-size: 2rem;
}

@media (max-width: 800px) {
    .techs {
        flex-direction: column;
        margin: 1rem auto;
        align-items: center;
    }
    .techs i {
        margin: 1rem 0
    }
}