.intro {
    padding: 10rem;

}

.name {
    color: var(--titles);
    font-weight: bolder;
    font-size: 3rem;

}

.job {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.6rem;
}

.bio {
    color: var(--text-color);
    font-weight: lighter;
    font-size: 1.3rem;
    text-align: justify;
    text-indent: 1rem;
    text-wrap: pretty;
}


@media (max-width: 800px) {
    .intro {
        padding: 3rem;
        text-align: center;
    }
    .name {
        width: 100%;
        font-size: 1.8rem
    }
    .job {
        font-size: 1rem
    }
    .bio {
        font-size: 0.6rem
    }
}
.profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position:55% center;
    transition: 0.3s;
    border: 5px solid var(--primary-color);
    
}
.profile-pic:hover {
    transform: scale(1.1) rotate(3deg);
}
.infos {
    padding: 0 2rem;
}

@media (max-width: 800px)
{
    .profile-pic{
        width: 200px;
        height: 200px;
    }
    .introduction-div{
        align-items: center;
        flex-direction: column;
    }
    .infos {
        padding: 0 1rem;
    }
}