.intro {
    padding: 10rem;
    font-family: 'Monospace Argon',monospace;
}
.intro h2{
    font-weight: bolder;
    font-size: 3rem;
}
.intro h3{
    font-weight: bold;
    font-size: 1.5rem;
}
.intro p{
    font-weight: lighter;
    font-size: 1.3rem;
    text-align: justify;
    text-indent: 1rem;
}
.techs i {
    font-size: 5rem;
}