.header{
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    width: 100vw;
    align-items: center;
    background-color: #3f8bfa;
}
.navlink {
    text-decoration: none;
    color: #F2F6D0;
}
.logo-text {
    font-weight: 600;
    color: #F2F6D0;
}