.projectDetails {
    width: 80vw;
    height: 80vh;
    aspect-ratio: 16/9;
    background-color: var(--background-color); 
    overflow: auto; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    border-radius: 8px; 
    z-index: 100000;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 0px 2px 0.2px var(--boxshadow);
    -moz-box-shadow: 0px 0px 2px 0.2px var(--boxshadow);
    box-shadow: 0px 0px 2px 0.2px var(--boxshadow);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}
.projectDetails.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.close-modal{
    font-size: 3rem;
    width: min-content;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
    color: var(--text-color);
}
.close-modal:hover{
    scale: 1.2;
}
.image-details{
    width: 45%;
}
.image-details img {
    width: 100%;
    -webkit-box-shadow: 2px 2px 2px 0.2px var(--boxshadow);
    -moz-box-shadow: 2px 2px 2px 0.2px var(--boxshadow);
    box-shadow: 2px 2px 2px 0.2px var(--boxshadow);
}
.advanced-description {
    font-size: 1rem;
    width: 75%;
}
.advanced-description p{
    text-indent:2rem;
    text-align: justify;
    width: 100%t;
}