.geometric-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.wave {
  position: absolute;
  width: 20vw;
  height: 5px;
  background: var(--primary-color);
  opacity: 0.2;
  animation: wave 10s linear infinite;
  top: 50%;
  left: -100%;
  filter: blur(2px);
}
@keyframes wave {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(100%);
  }
}

.line {
  position: absolute;
  width: 200px;
  height: 2px;
  background: var(--primary-color);
  opacity: 0.2;
  animation: line 15s ease-in-out infinite;
  top: 100%;
  filter: blur(1px);
}

@keyframes line {
  0% {
      transform: translateY(0) rotate(0deg);
  }
  25% {
      transform: translateY(-25vh) rotate(45deg);
  }
  50% {
      transform: translateY(-50vh) rotate(90deg);
  }
  75% {
      transform: translateY(-75vh) rotate(135deg);
  }
  100% {
      transform: translateY(-100vh) rotate(180deg);
  }
}
