.tooltip {
    position: absolute;
    top: calc(100% + 5px); /* Garante que fique logo abaixo */
    left: 50%;
    transform: translateX(-50%) translateY(0); /* Remove rotação */
    z-index: 1000;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    background-color: var(--titles);
    color: var(--text-color);
    border-radius: 8px;
    padding: 8px 12px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.show {
    opacity: 1;
    visibility: visible;
}
