.tooltip {
    position: absolute;
    width: max-content;
    max-width: 300px;
    top: calc(100% + 5px); /* Garante que fique logo abaixo */
    left: 50%;
    transform: translateX(-50%) translateY(0); /* Remove rotação */
    z-index: 1000;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 8px 12px;
    opacity: 0;
    visibility: hidden;
    white-space: normal;
    pointer-events: none;
}

.show {
    opacity: 1!important;
    visibility: visible;
}
.progress-container {
    width: 100%;
    background-color: var(--text-color);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
}

.progress-bar {
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    height: 20px; 
    transition: width 0.3s ease-in-out;
}