/* Helvetica */
.App {
  background-color: var(--background-color);
  font-family: 'JetBrains Mono', monospace;
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url('./assets/fonts/Helvetica-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Oblique';
  src: url('./assets/fonts/Helvetica-Oblique.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono Bold';
  src: url('./assets/fonts/JetBrainsMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald Bold';
  src: url('./assets/fonts/Oswald-Bold.ttf') format('truetype');
}
