:root {
    --primary-color: #3f8bfa;
    --secondary-color: #023e8a;
    --background-color: #ffffff;
    --text-color: #000000;
    --titles: #1B4F72;
}

[data-theme="dark"] {
    --primary-color: #3f8bfa;
    --secondary-color: #3f8bfa;
    --background-color: #070d21;
    --text-color: #F2F6D0;
    --titles: #5DADE2;
}